<h1>Lista de Contatos</h1>
<div class="box">
  <div>
    <button (click)="getAllContacts()">Obter Todos</button>
  </div>
  <div>
    <input [(ngModel)]="consultId" type="number" placeholder="informe o id">
    <button (click)="getContactbyId()">Obter Somente 1</button>
  </div>

  <div>
    <input [(ngModel)]="contactName" type="name" placeholder="nome">
    <input [(ngModel)]="contactEmail" type="email" placeholder="email">
    <input [(ngModel)]="contactFone" type="tel" placeholder="telefone">
    <button (click)="addContact()">Adicionar</button>
  </div>

  <div>
    <input [(ngModel)]="contactUpdateId" type="number" placeholder="id">
    <input [(ngModel)]="contactUpdateName" type="nome" placeholder="nome">
    <input [(ngModel)]="contactUpdateEmail" type="email" placeholder="email">
    <input [(ngModel)]="contactUpdateFone" type="tel" placeholder="telefone">
    <button (click)="updateContact()">Atualizar</button>
  </div>

  <div>
    <input [(ngModel)]="deleteId" type="number" placeholder="informe o id">
    <button (click)="deleteContact()">Remover</button>
  </div>
</div>