<h3>Lista de Contatos</h3>
<div class="box">
  <div>
    <button (click)="getAllContacts()">Obter Todos</button>
  </div>
  <div>
    <input type="number" placeholder="informe o id">
    <button>Obter Somente 1</button>
  </div>

  <div>
    <input type="nome" placeholder="nome">
    <input type="email" placeholder="email">
    <input type="tel" placeholder="telefone">
    <button>Adicionar</button>
  </div>

  <div>
    <input type="number" placeholder="id">
    <input type="nome" placeholder="nome">
    <input type="email" placeholder="email">
    <input type="tel" placeholder="telefone">

    <button>Atualizar</button>
  </div>

  <div>
    <input type="number" placeholder="informe o id">
    <button>Remover</button>
  </div>
</div>