:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to top, #120235, #7209b7, #001d3d);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat';

    .box{
        height: 20rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    div{
        height: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #e1e1e171;
        padding: .5rem;
        margin: 1rem;
        box-shadow: 0px 0px 5px #141414;
    }

    h1{
        color: gold;
    }

    label{
        min-width: 150px;
        text-align: center;
        padding: 8px 10px;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 1px 5px 5px #14141460;
        color: #141414;
        margin: .5rem
    }

    input{
        min-width: 150px;
        padding: 8px 10px;
        border-radius: 5px;
        border: none;
        background-color: #141414;
        color: #e4cbc6;
        cursor: pointer;
        margin-top: 5px;
    }

    button{
        text-transform: uppercase;
        min-width: 200px;
        padding: 8px 10px;
        border-radius: 5px;
        border: none;
        background-color: #141414;
        color: #e4cbc6;
        cursor: pointer;
        margin-top: 5px;
        transition: all .5s ease;
    }
    button:hover{
        background-color: #e4cbc6;
        color: #141414;
        text-shadow: 1px 1px 5px 5px whitesmoke;
        transform: scale(1.05);
    }

    table {
        th {
            width: 150px;
            border: 1px solid;
        }
        font-size: 16px;
        text-align: center;
        height: 400px; /* Define a altura da tabela */
        overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
    }
}